<!--p *ngFor="let alert of alerts">
    <ngb-alert [type]="alert.type" (closed)="closeAlert(alert)">{{ alert.message }}</ngb-alert>
</p-->

<div class="container mt-4">
    <h3>Linhas de Produtos</h3>
    <hr />

    <form [formGroup]="formFiltroLinhaProduto" (ngSubmit)="findByFilter()">
        <div class="row">
            <div class="col-md-6">
                <input type="text" class="form-control" formControlName="nome" />
            </div>
            <div class="col-md-1">
                <button type="submit" class="btn btn-primary">Pesquisar</button>
            </div>
            <div class="col-md-1">
                <button type="button" class="btn btn-primary ml-1" (click)="openAddModal(content)">+</button>
            </div>
        </div>
    </form>

    <hr />

    <div class="row">
        <div class="col">
            <ul class="list-group list-group-flush">
                <li class="list-group-item list-group-item-dark">
                    <div class="row">
                        <div class="col-2 h6">Categoria</div>
                        <div class="col-2 h6">Subcategoria</div>
                        <div class="col-2 h6">Fabricante</div>
                        <div class="col-4 h6">Linha de Produto</div>
                        <div class="col-1 h6"></div>
                        <div class="col-1 h6"></div>
                    </div>
                </li>
                <li *ngFor="let linhaProduto of linhasProdutos" class="list-group-item">
                    <div class="row">
                        <div class="col-2">
                            {{linhaProduto?.subcategoria?.categoria?.nome}}
                        </div>
                        <div class="col-2">
                            {{linhaProduto?.subcategoria?.nome}}
                        </div>
                        <div class="col-2">
                            {{linhaProduto?.fabricante?.nome}}
                        </div>
                        <div class="col-4">
                            {{linhaProduto?.nome}}
                        </div>
                        <div class="col-1">
                            <i-bs name="pencil-square" ngbTooltip="Editar" width="15" height="15" (click)="openEditModal(content, linhaProduto)"></i-bs>
                        </div>
                        <div class="col-1">
                            <i-bs name="trash" ngbTooltip="Excluir" (click)="delete(linhaProduto)" width="15" height="15"></i-bs>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
    <h4 class="modal-title" id="modalLinhaProduto">{{data.titulo}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="formLinhaProduto.reset(); modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="formLinhaProduto" (ngSubmit)="save()">
        <div class="row">
            <div class="col-9 h6">Categoria</div>
        </div>
        <div class="row">
            <div class="col-9">
                <ng-select class="form-control"  formControlName="idCategoria" (change)="findSubcategoriaByFilter()">
                    <ng-option selected disabled value="">Selecione</ng-option>
                    <ng-option *ngFor="let categoria of categorias" [value]="categoria.id">{{categoria.nome}}</ng-option>
                </ng-select>                
            </div>                      
        </div>
        <div class="row mt-4">
            <div class="col-9 h6">Subcategoria</div>
        </div>
        <div class="row">
            <div class="col-9">
                <ng-select class="form-control"  formControlName="idSubcategoria">
                    <ng-option selected disabled value="">Selecione</ng-option>
                    <ng-option *ngFor="let subcategoria of subcategorias" [value]="subcategoria.id">{{subcategoria.nome}}</ng-option>
                </ng-select>                
            </div>                      
        </div>
        <div class="row mt-4">
            <div class="col-9 h6">Fabricante</div>
        </div>
        <div class="row">
            <div class="col-9">
                <ng-select class="form-control"  formControlName="idFabricante">
                    <ng-option selected disabled value="">Selecione</ng-option>
                    <ng-option *ngFor="let fabricante of fabricantes" [value]="fabricante.id">{{fabricante.nome}}</ng-option>
                </ng-select>                
            </div>                      
        </div>
        <div class="row mt-4">
            <div class="col-9 h6">Linha de Produto</div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <input type="text" class="form-control" formControlName="nome" ngbAutofocus />
            </div>
            <div class="col-md-1">
                <button type="submit" class="btn btn-primary" [disabled]="formLinhaProduto.invalid">Salvar</button>
            </div>
        </div>
    </form>
  </div>
  
</ng-template>




