<nav class="navbar  navbar-dark bg-dark flex-row shadow">
    <a class="navbar-brand mr-auto" href="/">
        <img src="../../../assets/imgs/logo-rastrecall.png" alt="" width="150">
    </a>
    <ul class="navbar-nav flex-row mr-lg-0">
        <li class="nav-item">
             <a class="nav-link pr-2"><i class="fa fa-search"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link pr-3">
                <i-bs name="person" title="Meus dados" ngbTooltip="" width="25" height="25" data-toggle="collapse" data-target="#navBarUser" aria-controls="navBarUser" aria-expanded="false" aria-label="Toggle navigation"  onclick="$('#navBarOperations').collapse('hide');"></i-bs>
            </a>
        </li>
    </ul>
    <button class="navbar-toggler ml-lg-0" type="button" data-toggle="collapse" data-target="#navBarOperations" aria-controls="navBarOperations" aria-expanded="false" aria-label="Toggle navigation" onclick="$('#navBarUser').collapse('hide');">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>

<div class="collapse bg-dark" id="navBarOperations" >
    
    <div class="row pt-5 pb-2">
        <div class="col-4">
            <a class="text-white pl-3" routerLink="/categoria" routerLinkActive="selected" onclick="$('#navBarOperations').collapse('hide');">Categorias de Produtos</a>
        </div>
        <div class="col-4">
            <a class="text-white pl-1" routerLink="/fabricante" routerLinkActive="selected" onclick="$('#navBarOperations').collapse('hide');">Fabricantes</a>
        </div>
        <div class="col">
            <a class="text-white pl-1" routerLink="/usuario" routerLinkActive="selected" onclick="$('#navBarOperations').collapse('hide');">Usuários</a>
        </div>
    </div>
    <div class="row pb-2">
        <div class="col-4">
            <a class="text-white pl-3" routerLink="/subcategoria" routerLinkActive="selected" onclick="$('#navBarOperations').collapse('hide');">Subcategorias de Produtos</a>
        </div>
        <div class="col-4">
            <a class="text-white pl-1" routerLink="/linhaProduto" routerLinkActive="selected" onclick="$('#navBarOperations').collapse('hide');">Linhas de Produtos</a>
        </div>
        <div class="col">
            
        </div>
    </div>
    <div class="row pb-2">
        <div class="col-4">            
        </div>
        <div class="col-4">
            <a class="text-white pl-1" routerLink="/modelo" routerLinkActive="selected" onclick="$('#navBarOperations').collapse('hide');">Modelos</a>
        </div>
        <div class="col">            
        </div>
    </div>
    <div class="row pb-4">
        <div class="col-4">            
        </div>
        <div class="col-4">
            <a class="text-white pl-1" routerLink="/produto" routerLinkActive="selected" onclick="$('#navBarOperations').collapse('hide');">Produtos</a>
        </div>
        <div class="col">            
        </div>
    </div>
</div>

<div class="collapse bg-dark float-right" id="navBarUser" >
    
    <div class="row pt-5 pr-5 pl-1">
        <div class="col ml-2">
            <i-bs name="info-circle" style="color:white" title="Meus dados" ngbTooltip="" width="15" height="15" ></i-bs>
            <a class="text-white pl-2 pt-2" routerLink="/categoria" routerLinkActive="selected" onclick="$('#navBarOperations').collapse('hide');">Meus dados</a>
        </div>               
    </div>
    <div class="row pt-3 pr-5 pl-1">
        <div class="col ml-2">
            <i-bs name="lock" style="color:white" title="Senha" ngbTooltip="" width="15" height="15" ></i-bs>
            <a class="text-white pl-2 pt-2" onclick="$('#navBarUser').collapse('hide');"  (click)="openModalAlterarSenha(modalAlterarSenha)">Alterar senha</a>
        </div>
    </div> 
    <div class="row pt-3 pb-5 pr-5 pl-1">
        <div class="col ml-2">
            <i-bs name="box-arrow-right" style="color:white" title="Senha" ngbTooltip="" width="15" height="15" ></i-bs>
            <a class="text-white pl-2 pt-2" routerLink="/categoria" routerLinkActive="selected" onclick="$('#navBarOperations').collapse('hide');">Sair</a>
        </div>
    </div> 
</div>

<!--div para exibição de mensagens-->
<p *ngFor="let alert of alerts">
    <ngb-alert [type]="alert.type" (closed)="closeAlert(alert)">{{ alert.message }}</ngb-alert>
</p>


<ng-template #modalAlterarSenha let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modalAlterarSenha">{{data.titulo}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="formAlterarSenha.reset(); modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    
    <div class="modal-body">
        <form [formGroup]="formAlterarSenha" (ngSubmit)="alterarSenha()">
            <div class="row">
                <div class="col-6 h6">Login</div>
            </div>
            <div class="row">
                <div class="col-6">{{formAlterarSenha.controls.login.value}}</div>
            </div>

            <div class="row mt-4">
                <div class="col-6 h6">Email</div>
            </div>
            <div class="row">
                <div class="col-6">{{formAlterarSenha.controls.email.value}}</div>
            </div>
            
            <div class="row mt-4">
                <div class="col-md-6 h6">Senha Atual</div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <input type="password" class="form-control" formControlName="senhaAtual" ngbAutofocus />
                    <p *ngIf="formAlterarSenha.controls.senhaAtual.dirty && formAlterarSenha.controls.senhaAtual.errors" class="text-danger">
                        Mínimo 8 caractéres
                    </p>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-6 h6">Nova Senha</div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <input type="password" class="form-control" formControlName="novaSenha" ngbAutofocus />
                    <p *ngIf="formAlterarSenha.controls.novaSenha.dirty && formAlterarSenha.controls.novaSenha.errors" class="text-danger">
                        Mínimo 8 caractéres
                    </p>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-6 h6">Confirmar Nova Senha</div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <input type="password" class="form-control" formControlName="confirmacaoNovaSenha"/>
                    <p *ngIf="formAlterarSenha.controls.confirmacaoNovaSenha.dirty && 
                    formAlterarSenha.controls.confirmacaoNovaSenha.errors" class="text-danger">
                        Mínimo 8 caractéres
                    </p>
                    <p *ngIf="formAlterarSenha.controls.confirmacaoNovaSenha.dirty && 
                            formAlterarSenha.controls.confirmacaoNovaSenha.value.length>=8 &&
                            formAlterarSenha.controls.confirmacaoNovaSenha.value != formAlterarSenha.controls.novaSenha.value" class="text-danger">
                        Confirmação inválida
                    </p>
                </div>
                <div class="col-md-1">
                    <button type="submit" class="btn btn-primary" [disabled]="formAlterarSenha.invalid">Salvar</button>
                </div>
            </div>            
        </form>
  </div>
  
</ng-template>


<router-outlet></router-outlet>